{{#if open}}
  <div class="site-message">

    <div class="grid-x grid-margin-x align-middle">
      <div class="cell text-center medium-text-left medium-shrink">
        {{fa-icon 'info-circle' size='2x' class='yellow-dark site-message-warning'}}
      </div>
      <div class="cell auto">
        Community District Profiles will be updated in 2022 to include the latest decennial census and American Community Survey results.
      </div>
    </div>

    {{#if dismissible}}
      <button
        class="close-button"
        aria-label="Dismiss message"
        type="button" data-close
        onclick={{action 'handleSiteMessageToggle'}}
      >
        <span aria-hidden="true">&times;</span>
      </button>
    {{/if}}

  </div>

{{/if}}
