{{#if open}}
  <div class="site-message warning">

    <div class="grid-x grid-margin-x align-middle">
      <div class="cell text-center medium-text-left medium-shrink">
        <FaIcon @icon='exclamation-triangle' @size='2x' class='yellow-dark site-message-warning' />
      </div>
      <div class="cell auto">
        As we work to update and improve our public digital tools, please be advised that the Community District Profiles tools is currently populated with 2010 Census Data. Content and information that does not rely on census data remains up to date. For more updated census data, please visit our <a target="_blank" href="https://popfactfinder.planning.nyc.gov/">NYC Population Fact Finder (https://popfactfinder.planning.nyc.gov/)</a>.
      </div>
    </div>

    {{#if dismissible}}
      <button
        class="close-button"
        aria-label="Dismiss message"
        type="button" data-close
        onclick={{action 'handleSiteMessageToggle'}}
      >
        <span aria-hidden="true">&times;</span>
      </button>
    {{/if}}

  </div>

{{/if}}
