@import "settings";
@import 'foundation-sites/foundation';
@include foundation-everything;

.leaflet-container {
  height: calc(50vh);
  width: 100%;
}

.ember-power-select-trigger {
  width: 150px;
}

// see http://www.ember-power-select.com/docs/styles for guidance on overriding

// $ember-power-select-border-color: #64A5ED;
// $ember-power-select-border-radius: 0;

@import "ember-power-select";

