// --------------------------------------------------
// Layout default
// --------------------------------------------------

//
// Basic page layout
// --------------------------------------------------

html, body {
  width: 100%;
  overflow-x: hidden;
}

.site-header {
  background-color: $white;
  position: relative;
  z-index: 2;
  width: 100%;

  @include breakpoint(large) {
    position: fixed;
  }
}

// #main wraps everything except the header
#main {
  z-index: 1;
  position: relative;

  @include breakpoint(large) {
    padding-top: 90px
  //   height: calc(100vh - 97px);
  }
}

// #cd-chooser contains the map and search
#cd-chooser {
  position: relative;
  z-index: 1;

  &::after {
    @include breakpoint(large) {
      content: '';
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;
      bottom: 0;
      left: auto;
      background-color: rgba(0,0,0,0.1);
      width: 4px;
      height: 100%;
    }
  }

  .mapboxgl-map {
    height: calc(50vh);
    width: 100%;
    z-index: 1;

    @include breakpoint(large) {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 33.33333%;
      height: calc(100vh - 75px);
    }

    @include breakpoint(xlarge) {
      width: 25%;
    }
  }
}

#cd-search {
  position: absolute;
  z-index: 2;
  top: auto;
  right: $global-margin;
  bottom: $global-margin*2;
  left: $global-margin;

  @include breakpoint(large) {
    position: fixed;
    top: rem-calc(107);
    right: calc(66.66666% + 1rem);
    bottom: auto;
    left: rem-calc(60);
  }

  @include breakpoint(xlarge) {
    right: calc(75% + 1rem);
  }
}

// #page-content is everything in main not in #cd-chooser
#page-content {

  @include breakpoint(large) {
    min-height: calc(100vh - 75px);
  }
}

.district-header {
  background-color: $white;
  margin: 0 0 $global-margin;
  position: relative;
  z-index: 2;

  @include breakpoint(large) {
    position: fixed;
    top: rem-calc(75);
    right: 0;
    bottom: auto;
    left: 33.33333%;
    padding: rem-calc(5) rem-calc(20) 0;

    @include breakpoint(xlarge) {
      left: 25%;
    }
  }
}

.district-content {
  position: relative;
  z-index: 1;

  @include breakpoint(large) {
    top: rem-calc(97);
    margin-bottom: rem-calc(97);
  }
}

.page-section {
  position: relative;
  z-index: 1;
}

.cell-divider--population {
  border-top: $callout-border;
  padding-top: 0.5rem;

  @include breakpoint(large) {
    border-top: 0;
    padding-top: 0;
    border-left: $callout-border;
  }
}

.cell-divider--density {
  border-left: $callout-border;
  padding-left: 0.5rem;

  // @include breakpoint(large) {
  //   border-left: 0;
  //   padding-left: 0;
  //   border-top: $callout-border;
  //   padding-top: 0.5rem;
  //   margin-top: 0.5rem;
  // }
}


//
// Key Indicators
// --------------------------------------------------

.key-indicators {
  @include xy-grid();
  @include xy-gutters($grid-margin-gutters, margin, right left, true);

  .indicator {
    @include xy-cell(12);

    @include breakpoint(medium) {
      @include xy-cell(6);
    }

    @include breakpoint(large) {
      @include xy-cell(12);
    }

    @include breakpoint(xlarge) {
      @include xy-cell(6);

      .stat-footer {
        min-height: 3.5em;
      }
    }

    @include breakpoint(90em) {
      @include xy-cell-static($size:4, $gutter-output:true, $gutters:40px);
    }
  }
}

.indicator-grid {
  @include xy-grid();
  @include xy-gutters($callout-padding*2, margin, right left, true);

  .indicator-cell--stat {
    @include xy-cell-static(7, true, $callout-padding*2);
    @include breakpoint(large) {
      @include xy-cell-static(4, true, $callout-padding*2);
    }
    @include breakpoint(xlarge) {
      @include xy-cell-static(6, true, $callout-padding*2);
    }
  }

  .indicator-cell--borocity {
    @include xy-cell-static(5, true, $callout-padding*2);
    @include breakpoint(large) {
      @include xy-cell-static(3, true, $callout-padding*2);
    }
    @include breakpoint(xlarge) {
      @include xy-cell-static(6, true, $callout-padding*2);
    }
  }

  .indicator-cell--chart {
    @include xy-cell-static(12, true, $callout-padding*2);
    @include breakpoint(large) {
      @include xy-cell-static(5, true, $callout-padding*2);
    }
    @include breakpoint(xlarge) {
      @include xy-cell-static(12, true, $callout-padding*2);
    }
  }
}


//
// Layout helper classes
// --------------------------------------------------
.relative {
  position: relative;
}


//
// Grid helper classes
// --------------------------------------------------
.cell-xlarge-padded-left {
  @include breakpoint(xlarge) {
    padding-left: $callout-padding;
  }
}

.cell-medium-padded-left {
  @include breakpoint(medium) {
    padding-left: $callout-padding;
  }
}

.cell-large-down-padded-top {
  @include breakpoint(large down) {
    padding-top: $callout-padding;
  }
}

.cell-small-only-padded-top{
  @include breakpoint(small only) {
    padding-top: $callout-padding;
  }
}


//
// Floodplain Table
// --------------------------------------------------
.floodplain-table-container {
  margin-bottom: $global-margin;

  @include breakpoint(xlarge) {
    max-height: calc(400px - 3rem);
    overflow-y: scroll;

    // &::-webkit-scrollbar {
    //     -webkit-appearance: none;
    //     width: 6px;
    // }
    // &::-webkit-scrollbar-thumb {
    //     border-radius: 3px;
    //     background-color: rgba(0,0,0,.5);
    //     -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    // }
  }
}
