// --------------------------------------------------
// Layout default
// --------------------------------------------------

#main {
  @include breakpoint(large) {
    height: calc(100vh - 97px);
  }
}

#page-content {
  @include breakpoint(large) {
    overflow: auto
  }
}

.leaflet-container {
  height: calc(50vh);
  width: 100%;
  z-index: 1;

  @include breakpoint(large) {
    height: 100%;
  }
}

#cd-chooser {
  position: relative;
}

#cd-search {
  position: absolute;
  z-index: 2;
  top: auto;
  right: $global-margin;
  bottom: $global-margin*2;
  left: $global-margin;

  @include breakpoint(large) {
    top: $global-margin;
    bottom: auto;
    left: rem-calc(60);
  }
}

#general-statistics {
  padding: 1em;
}

.ui.selection.dropdown.visible, .ui.selection.dropdown.active {
  z-index: 9999;
}
