// --------------------------------------------------
// Base: Typography
// --------------------------------------------------

p {
  @include breakpoint(xlarge) {
    max-width: 45em;

    .site-footer & {
      max-width: none;
    }
  }
}

.section-header-description {
  font-size: rem-calc(12);
  margin-top: -2rem;
  padding-bottom: 1rem;

  @include breakpoint(xlarge) {
    max-width: 65em;
  }
}

.section-header-call-to-action {
  margin-top: -1rem;

  @include breakpoint(xlarge) {
    margin-top: -2rem;
    padding-bottom: 1rem;
    max-width: 65em;
  }
}

//
// Headings
// --------------------------------------------------
.header-xxlarge { @extend h1; }
.header-xlarge {  @extend h2; }
.header-large {   @extend h3; }
.header-medium {  @extend h4; }
.header-small {   @extend h5; }
.header-tiny {    @extend h6; }

h6,
.header-tiny {
  text-transform: uppercase;
  font-weight: $global-weight-normal;
  margin-bottom: 0.5em;
}

.district-header {

  h1 {
    margin-bottom: 0.5rem;

    a {
      color: $body-font-color;
    }
  }
}

.section-header {
  padding-top: 1rem;
  padding-bottom: 1rem;

  a {
    color: $body-font-color;
  }
}

.subsection-header {
  @extend h5;
  margin-bottom: 0.5em;
}


//
// CSS Columns
// --------------------------------------------------
.large-2-column {
  @include breakpoint(large) {
    column-count: 2;
  }
}

.xlarge-2-column {
  @include breakpoint(xlarge) {
    column-count: 2;
  }
}


//
// Typograhpy helper classes
// --------------------------------------------------
.nowrap {
  white-space: nowrap;
}
.no-margin {
  margin: 0 !important;
}

.light-gray { color: $light-gray; }
.medium-gray { color: $medium-gray; }
.dark-gray { color: $dark-gray; }
.dcp-orange { color: $dcp-orange; }

// Land Use colors
.lu-peach { color: $lu-peach; }
.lu-yellow { color: $lu-yellow; }
.lu-magenta { color: $lu-magenta; }
.lu-red { color: $lu-red; }
.lu-orange { color: $lu-orange; }
.lu-pink { color: $lu-pink; }
.lu-green { color: $lu-green; }
.lu-blue { color: $lu-blue; }
.lu-lavendar { color: $lu-lavendar; }
.lu-silver { color: $lu-silver; }
.lu-gray { color: $lu-gray; }

.text-small {
  font-size: rem-calc(12);
  line-height: 1.7;
}

.callout {
  margin-bottom: rem-calc(20);

  @include breakpoint(medium) {
    margin-bottom: rem-calc(30);
  }

  @include breakpoint(large) {
    margin-bottom: rem-calc(40);
  }
}

table.width-auto {
  width: auto;
}

li {
  break-inside: avoid;
}

li.list-item-padded {
  & + & {
    margin-top: 0.5rem;
  }
}

.list--link-meta {
  display: block;
  color: $dark-gray;
}


//
// Statistics
// --------------------------------------------------
.stat-header {
  margin-bottom: 0.5em;
}
.stat-footer {
  display: block;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.boro-stat,
.city-stat {
  margin-bottom: 0.5rem;
}


//
// Legend
// --------------------------------------------------
.legend-dot {
  height: 1em;
  width: 1em;
  border-radius: 100%;
  display: inline-block;
  border: 2px solid #333;
  margin-bottom: -0.1em;
}

.legend-dot-wrapper {
  padding: rem-calc(5) 0;
}
