// --------------------------------------------------
// Base: Typography
// --------------------------------------------------

//
// Headings
// --------------------------------------------------
.header-xxlarge { @extend h1; }
.header-xlarge {  @extend h2; }
.header-large {   @extend h3; }
.header-medium {  @extend h4; }
.header-small {   @extend h5; }
.header-tiny {    @extend h6; }

h6,
.header-tiny {
  text-transform: uppercase;
  font-weight: $global-weight-normal;
  margin-bottom: 0.5em;
}

.district-header {

  h1 {
    margin-bottom: 0.5rem;
  }
}

.section-header {
  padding-top: 1rem;
  padding-bottom: 1rem;

  a {
    color: $body-font-color;

    .fa-link {
      color: $medium-gray;
    }
  }

  a:hover {

    .fa-link {
      color: $dcp-orange;
    }
  }
}

.subsection-header {
  @extend h5;
  margin-bottom: 0.5em;
}


//
// Typograhpy helper classes
// --------------------------------------------------
.nowrap {
  white-space: nowrap;
}

.light-gray { color: $light-gray; }
.medium-gray { color: $medium-gray; }
.dark-gray { color: $dark-gray; }
.dcp-orange { color: $dcp-orange; }

// Land Use colors
.lu-peach { color: $lu-peach; }
.lu-yellow { color: $lu-yellow; }
.lu-magenta { color: $lu-magenta; }
.lu-red { color: $lu-red; }
.lu-orange { color: $lu-orange; }
.lu-pink { color: $lu-pink; }
.lu-green { color: $lu-green; }
.lu-blue { color: $lu-blue; }
.lu-lavendar { color: $lu-lavendar; }
.lu-silver { color: $lu-silver; }
.lu-gray { color: $lu-gray; }


table,
.callout {
  margin-bottom: rem-calc(20);

  @include breakpoint(medium) {
    margin-bottom: rem-calc(30);
  }

  @include breakpoint(large) {
    margin-bottom: rem-calc(40);
  }
}

table.small {
  font-size: rem-calc(12);
}

table.width-auto {
  width: auto;
}


//
// Statistics
// --------------------------------------------------
.stat-header {
  margin-bottom: 0.5em;
}
.stat-footer {
  display: block;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.boro-stat,
.city-stat {
  margin-bottom: 0.5rem;
}


//
// Legend
// --------------------------------------------------
.legend-dot {
  height: 1em;
  width: 1em;
  border-radius: 100%;
  display: inline-block;
  border: 2px solid #333;
  margin-bottom: -0.1em;
}
