// --------------------------------------------------
// Base: Typography
// --------------------------------------------------

//
// Headings
// --------------------------------------------------
.header-xxlarge { @extend h1; }
.header-xlarge {  @extend h2; }
.header-large {   @extend h3; }
.header-medium {  @extend h4; }
.header-small {   @extend h5; }
.header-tiny {    @extend h6; }

h6,
.header-tiny {
  text-transform: uppercase;
  font-weight: $global-weight-normal;
  margin-bottom: 0.5em;
}

.district-header {
  .district {
  }
  .boro {
    display: block;
    font-weight: $global-weight-normal;
    font-size: 0.75em;
    line-height: 1;
  }
}

.section-header {

  a {
    color: $body-font-color;

    .fa {
      color: $medium-gray;
    }
  }

  a:hover {

    .fa {
      color: $dcp-orange;
    }
  }
}

.subsection-header {
  @extend h5;
  margin-bottom: 0.5em;
}


//
// Typograhpy helper classes
// --------------------------------------------------
.nowrap {
  white-space: nowrap;
}

.small-gray {
  color: $dark-gray;
  font-size: rem-calc(14);
}

table,
.callout {
  margin-bottom: rem-calc(20);

  @include breakpoint(medium) {
    margin-bottom: rem-calc(30);
  }

  @include breakpoint(large) {
    margin-bottom: rem-calc(40);
  }
}

table.small {
  font-size: rem-calc(12);
}

table.width-auto {
  width: auto;
}

//
// Statistics
// --------------------------------------------------
.stat-header {
  margin-bottom: 0.5em;
}
.stat-footer {
  display: block;
  line-height: 1.2;
}
