// --------------------------------------------------
// Module: Charts
// --------------------------------------------------

.land-use-chart,
.ranking-chart {
  position: relative;
}

.chart {
  display: block;

  & > .label {
    font-size: 11px;
    fill: #575555
  }
}

.tooltip {
  position: absolute;
  top: 100%;
  margin-top: 5px;
  text-align: center;
  z-index: 9999;
  padding: 5px 10px;
  background: $dark-gray;
  pointer-events: none;
  white-space: nowrap;
  transition: left 0.1s;
}

.tooltip:after {
  content: '';
  border: 5px solid transparent;
  border-bottom-color: $dark-gray;
  border-bottom-width: 5px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
}
