// --------------------------------------------------
// Module: Charts
// --------------------------------------------------

.land-use-chart,
.ranking-chart {
  position: relative;
}

.chart {
  display: block;

  & > .label {
    font-size: rem-calc(11);
    fill: #575555
  }

  & > .barlabel {
    font-size: rem-calc(15);
    fill: #575555
  }
}

.chart-legend {
  font-size: rem-calc(11);
  font-weight: $global-weight-normal;
  border: 1px solid mix($medium-gray,$light-gray,50%);
  border-radius: $global-radius;
  background-color: $light-gray;
  display: inline-block;
  padding: 0.25rem 0.375rem 0.125rem;
  margin-bottom: $paragraph-margin-bottom;

  .estimate, .total, .moe,.percent {
    display: inline-block;
    width: 0.5em;
    height: 1em;
  }
  .estimate {
    background-color: #A8A8A8;
  }
  .moe {
    border-top: 0.375em solid #ACE8FF;
  }
  .total {
    background-color: #DDDDDD;
  }
  .percent {
    border-bottom: 0.375em solid #43AEC2;
  }
}

.moe-text {
  color: #CAF1FF;
  font-size: rem-calc(10);
  display: block;
}

.tooltip {
  position: absolute;
  top: 100%;
  margin-top: 5px;
  text-align: center;
  z-index: 9999;
  padding: 4px 8px;
  background: $dark-gray;
  pointer-events: none;
  white-space: nowrap;
  transition: left 0.1s;
  line-height: 1.3;
}

.tooltip:after {
  content: '';
  border: 5px solid transparent;
  border-bottom-color: $dark-gray;
  border-bottom-width: 5px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
}

.age-chart {
  .axis line,
  .axis path {
    shape-rendering: crispEdges;
    fill: transparent;
    stroke: #555;
    stroke-width: 0px;
  }
  .axis text {
    font-size: 11px;
  }


  .bar {
    fill-opacity: 0.5;
  }
  .bar.left {
    fill: steelblue;
  }
  .bar.right {
    fill: firebrick;
  }
}