// --------------------------------------------------
// Module: Ember Power Select
// --------------------------------------------------

// see http://www.ember-power-select.com/docs/styles for guidance on overriding

$ember-power-select-background-color: $white;
$ember-power-select-highlighted-background: $primary-color;
$ember-power-select-selected-background: $dark-gray;
$ember-power-select-border-color: $medium-gray;
$ember-power-select-line-height: 1.5;
$ember-power-select-option-padding: $global-margin;
$ember-power-select-trigger-icon-color: $primary-color;
$ember-power-select-number-of-visible-options: 9;

@import '../ember-power-select';

.ember-power-select-trigger {
  font-size: 1.5rem;
  width: 100%;
  padding-right: rem-calc(28);
}

.ember-power-select-option {
  line-height: 1.2;
  padding-top: $global-margin/2;
  padding-bottom: $global-margin/2;

  .neighborhoods {
    font-size: rem-calc(12);
    color: $dark-gray;
  }
}

.ember-power-select-option[aria-current="true"] {

  .neighborhoods {
    color: $white;
  }
}

.ember-power-select-selected-item {
  .neighborhoods {
    display: none;
  }
}

.ember-power-select-status-icon {
  border-width: 10px 7px 0 7px;
  right: 8px;
}
