// --------------------------------------------------
// Module: Maps
// --------------------------------------------------

.mapboxgl-map {
  height: 400px;
  width: 100%;
  margin-bottom: $global-margin;

  @include breakpoint(medium) {
    margin-bottom: 0;
  }
}

.mapboxgl-ctrl {

  button {
    border-radius: 0;
  }
}

#facilities-map {
}

#lu-map {
}
