// --------------------------------------------------
// Module: Maps
// --------------------------------------------------

.mapboxgl-map {
  height: 400px;
  width: 100%;
  margin-bottom: $global-margin;

  @include breakpoint(medium) {
    margin-bottom: 0;
  }
}

.mapboxgl-ctrl {

  button {
    border-radius: 0;
  }
}

.map-popup {
  pointer-events: none;
  position: absolute;
  z-index: 9999;
  width: 180px;
}

#facilities-map {
}

#lu-map {
}

#resiliency-map {
  @include breakpoint(large) {
    height: 465px;
  }
}
