// --------------------------------------------------
// Module: Section
// --------------------------------------------------

.page-section {
  margin-bottom: $global-margin*3;

  @include breakpoint(medium) {
    .cell > :last-child:not(table):not(.callout) {
      margin-bottom: 0;
    }
  }
}

.section-header {

  a {
    color: $body-font-color;

    .fa {
      color: $medium-gray;
    }
  }

  a:hover {

    .fa {
      color: $dcp-orange;
    }
  }
}
