// --------------------------------------------------
// Module: Section
// --------------------------------------------------

.page-section {
  margin-bottom: $global-margin*3;

  @include breakpoint(medium) {
    .cell > :last-child:not(table) {
      margin-bottom: 0;
    }
  }
}

.header-note {
  color: $dark-gray;
  font-size: rem-calc(12);
  margin-bottom: 0.5em;
}
