// --------------------------------------------------
// Module: Spinner
// --------------------------------------------------

.spinner-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;

  &.loading {
    background-color: rgba(255,255,255,0.8);
  }
}

.spinner {

  text-align: center;
  margin: -12px -35px;
  width: 70px;
  top: 50%;
  left: 50%;
  position: absolute;


  & > div {
    width: 1rem;
    height: 1rem;
    background-color: $dcp-orange;
    border-radius: 100%;
    display: inline-block;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }

  .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
