// --------------------------------------------------
// Module: Land Use Section
// --------------------------------------------------

#lu-map {

  height: 400px;
  width: 100%;
  margin-bottom: $global-margin;

  @include breakpoint(medium) {
    margin-bottom: 0;
  }
}
