// --------------------------------------------------
// Module: Section Menu
// --------------------------------------------------

.section-menu {
  margin: $global-margin*2 0;

  .menu {
    font-size: $small-font-size;
    font-weight: $global-weight-bold;
    background-color: $light-gray;
  }
}

.sticky-element {
   z-index: 999;

   @include breakpoint(medium down) {
     position: static !important;
   }
}

.sticky-element--sticky {
  box-shadow: -1.25rem 0 0 $light-gray, 1.25rem 0 0 $light-gray;
}
