// --------------------------------------------------
// Module: Section Menu
// --------------------------------------------------

.section-menu {

  @include breakpoint(large) {
    margin-right: rem-calc(-20);
    margin-left: rem-calc(-20);
    padding-right: rem-calc(6);
    padding-left: rem-calc(6);
    box-shadow: 0 4px 0 rgba(0,0,0,0.1);
  }

  .menu {
    font-size: rem-calc(12);
    font-weight: $global-weight-bold;
    background-color: $light-gray;

    @include breakpoint(xlarge) {
      font-size: rem-calc(14);
    }
  }
}
