// --------------------------------------------------
// Module: Land Use Section
// --------------------------------------------------

#facilities-map {
  height: 400px;
  width: 100%;
  margin-bottom: $global-margin;

  @include breakpoint(medium) {
    margin-bottom: 0;
  }
}

.legend-dot {
  height: 1em;
  width: 1em;
  border-radius: 100%;
  display: inline-block;
  border: 2px solid #333;
  margin-bottom: -0.1em;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
