<div class="grid-x grid-padding-x">
  <div class="cell">
    <h2>About the Community District Profiles</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non nisl dignissim, ullamcorper tortor nec, vehicula ipsum. Nulla nisl est, consequat eu interdum id, gravida sit amet arcu. Phasellus quis eleifend lacus. Pellentesque a molestie augue. Sed quis accumsan libero. Nam malesuada, ex vitae fermentum mattis, leo eros mollis lacus, eget mattis nisi diam eget nisl. Praesent gravida, dui nec efficitur mattis, augue sapien vehicula dui, et eleifend eros sem non ante. </p>

    <h3>Technology</h3>

    <p>The Community Profiles Site was built using <a href="https://en.wikipedia.org/wiki/Open-source_software">free and open source software</a> by <a href="https://planninglabs.nyc">NYC Planning Labs</a> working closely with DCP's Planning Coordination Division.  The site is a single-page application (SPA) built using the <a href="https://www.emberjs.com/">ember</a> javascript framework. The frontend application consumes a variety of APIs that serve map tiles, data, and content.</p>

    <p>We make use of the <a href="http://foundation.zurb.com/">foundation</a> framework for layout and basic styling.  Web maps on the profiles are built using <a href="https://www.mapbox.com/mapbox-gl-js/api/">MapboxGL</a>, creating smooth-scaling vector-based maps with intricate control of styling.  Interactive charts are built using <a href="https://d3js.org/">D3.js</a></p>

    <p>The <a href="https://github.com/nycplanning/labs-community-portal/">project repository</a> is on github, where we encourage users to report bugs and feature requests by <a href="https://github.com/nycplanning/labs-community-portal/issues">creating new issues</a>.</p>

    <h3>Thanks</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non nisl dignissim, ullamcorper tortor nec, vehicula ipsum. Nulla nisl est, consequat eu interdum id, gravida sit amet arcu. Phasellus quis eleifend lacus. Pellentesque a molestie augue. Sed quis accumsan libero. Nam malesuada, ex vitae fermentum mattis, leo eros mollis lacus, eget mattis nisi diam eget nisl. Praesent gravida, dui nec efficitur mattis, augue sapien vehicula dui, et eleifend eros sem non ante. </p>
  </div>
</div>

{{outlet}}
