<div class="grid-x grid-padding-x">
  <div class="cell">
    <h1>About the Community District Profiles</h1>

    <p class="lead">New York City’s 59 community boards were created by local law in 1975, and each represents a community district. These districts range in population from 50,000 to over 200,000, and reflect the City’s diversity. The Department of City Planning’s Community District Profiles organize a wide variety of data, maps, and other content to present an accessible and informative view of the built environment, key socio-economic conditions, community board perspectives, and planning activities in each district. This information empowers residents, community board members, planners, and other stakeholders to engage in city planning and advocate for their communities.</p>

    <hr>

    <h2>What's included in each profile?</h2>

    <h3>Indicators</h3>

    <div class="grid-x grid-padding-x">
      <div class="cell xlarge-7">

        <p>Indicators were carefully selected to present a snapshot across a broad range of conditions related to city planning. The {{fa-icon "info-circle"}} icon reveal an indicator’s source. Indicators using data from the American Community Survey (ACS) are calculated at the Public Use Microdata Area (PUMA) level. PUMAs are geographic approximations of community districts, but their boundaries differ slightly. <a href="http://www1.nyc.gov/assets/planning/download/pdf/data-maps/nyc-population/census2010/puma_cd_map.pdf">Use this map</a> to compare PUMA and community district boundaries. Some community districts share a PUMA with another district, and will therefore display identical values for ACS indicators. These paired districts include: Manhattan 1 and 2; Manhattan 4 and 5; Bronx 1 and 2; and Bronx 3 and 6. The 2011-2015 ACS population estimate is not available for districts that share a PUMA because it cannot be reliably disaggregated to each individual district.</p>

      </div>
      <div class="cell xlarge-5">

        <p class="text-small"><a href="http://www1.nyc.gov/assets/planning/download/pdf/data-maps/nyc-population/acs/about-the-acs.pdf">Read more about the ACS and its geographies in New York City.</a></p>

        <p class="text-small"><a href="http://www1.nyc.gov/assets/planning/download/pdf/data-maps/nyc-population/acs/how-to-use-the-acs.pdf">Read more about understanding ACS data.</a></p>

        <p class="text-small">Download the indicators for each district in a CSV table using the “Indicators Data” button in the Downloads window at the bottom of the page.</p>

      </div>
    </div>

    <h3>The Built Environment</h3>

    <div class="grid-x grid-padding-x">
      <div class="cell xlarge-7">

        <p>This section offers a survey of the land uses that currently exist in each district, the zoning that will guide its development, and the public facilities that serve its residents. These are district-specific presentations of data from other City Planning resources. To find out more about land use and zoning in New York City, visit <a href="http://maps.nyc.gov/doitt/nycitymap/template?applicationName=ZOLA">ZoLa</a> or <a href="https://www1.nyc.gov/site/planning/data-maps/open-data.page">download the full Primary Land Use Tax Lot Output (PLUTO) and MapPLUTO datasets</a>. For more detailed information on New York City’s public facilities, check out <a href="https://capitalplanning.nyc.gov/facilities">the NYC Facilities Explorer</a>.</p>

      </div>
      <div class="cell xlarge-5">

        <p class="text-small">Download each profile’s land use and zoning data as a shapefile with the “PLUTO Data” button in the Downloads window at the bottom of the page. The “Facilities Data” button will download a shapefile of the district’s public facilities.</p>

        <p class="text-small">Beyond these profiles, a wealth of data, maps, and reports are available on the <a href="http://www1.nyc.gov/site/planning/data-maps/nyc-population.page">Department of City Planning website</a>.</p>

      </div>
    </div>

    <h3>Community Board Perspectives</h3>

    <p>Each community board is charged with advocating for the unique priorities of its district in collaboration with city agencies. Among their many responsibilities, community boards prepare an annual Statement of Community District Needs and Community Board Budget Requests, which aim to assess the district’s most pressing needs and prioritize capital project and service expenses in the City’s budget. City Planning facilitates the preparation of these documents, and each district’s profile on this website includes statements for fiscal year 2018 and up to ten years prior. A full archive will be available online soon. To request a statement that is not currently available through these profiles, contact <a href="mailto:portal_dl@planning.nyc.gov">portal_dl@planning.nyc.gov</a>.</p>

    <h3>Projects</h3>

    <p>This section presents a summary of the Department of City Planning’s activities in each district. In Recent Land Use Applications, you will find a live look at active and completed land use and environmental review applications in each district from our Land Use &amp; CEQR Application Tracking System (LUCATS). To perform detailed queries of these applications and find help interpreting LUCATS records, <a href="http://a030-lucats.nyc.gov/lucats/welcome.aspx">visit our Applicant Portal</a>.</p>

    <p>The Neighborhood Studies window links to background information on all of the ongoing and recently completed plans and studies that City Planning is conducting in each district. Some districts have no relevant current or recent studies, but <a href="http://www1.nyc.gov/site/planning/plans/proposals-studies.page">visit our website</a> to learn about plans and studies happening across the City, including archives going back decades.</p>

    <h3>Resources</h3>

    <div class="grid-x grid-padding-x">
      <div class="cell xlarge-7">

        <p>For even more Decennial Census and American Community Survey data, the Resources section provides a full summary from the 2010 Census for each district, along with demographic, social, economic, and housing profiles from the 2011-2015 ACS 5-year estimates at the PUMA level. Explore much more Census and ACS data using City Planning’s <a href="http://maps.nyc.gov/census/">NYC Census FactFinder</a> and the <a href="http://www1.nyc.gov/site/planning/data-maps/nyc-population.page">maps and tables on our website</a>.</p>

      </div>
      <div class="cell xlarge-5">

        <p class="text-small">Use the download buttons to access data (CSV, Shapefile) from the Indicators and Built Environment sections of each district's profile.</p>

        <p class="text-small">For more land use, zoning, and other GIS data, visit <a href="http://www1.nyc.gov/site/planning/data-maps/open-data.page">City Planning’s Open Data page</a>.</p>

      </div>
    </div>

    <hr>

    <h2>How was this website made?</h2>

    <p>The Community District Profiles website was built using <a href="https://en.wikipedia.org/wiki/Open-source_software">free and open source software</a> by <a href="https://planninglabs.nyc">NYC Planning Labs</a> working closely with DCP's Planning Coordination Division. It’s a single-page application (SPA) built using the <a href="https://www.emberjs.com/">Ember</a> JavaScript framework. The frontend application consumes a variety of APIs that serve map tiles, data, and content.</p>

    <p>We make use of the <a href="http://foundation.zurb.com/">Foundation for Sites</a> framework for layout and styling. Web maps on the profiles are built using <a href="https://www.mapbox.com/mapbox-gl-js/api/">Mapbox GL</a>, creating smooth-scaling vector-based maps with intricate control of styling. Interactive charts are built using <a href="https://d3js.org/">D3.js</a>.</p>

    <p>The <a href="https://github.com/nycplanning/labs-community-portal/">project repository</a> is on GitHub, where we encourage users to report bugs and feature requests by <a href="https://github.com/nycplanning/labs-community-portal/issues">creating new issues</a>.</p>

  </div>
</div>

{{outlet}}
