<div class="ui container">
  {{#leaflet-map lat=40.7071266 lng=-74 zoom=10}}
    {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
    {{geojson-layer geoJSON=model fill='purple'}}
  {{/leaflet-map}}
  {{outlet}}
</div>
