<div class="grid-container">

  <div class="grid-x grid-padding-x">
    <div class="cell">
      <h1>Welcome</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at mauris iaculis, tincidunt est eu, gravida ante. Vivamus vel elit nisl. Maecenas dui metus, gravida ac odio sit amet, blandit fermentum erat.</p>

      <p>Suspendisse et enim suscipit, consectetur lorem commodo, venenatis odio. Morbi feugiat sem ut venenatis tristique. Nam aliquet felis non risus interdum, et bibendum arcu elementum. Suspendisse nec sodales eros.</p>
    </div>
    <div class="cell medium-4">
      <h2>{{fa-icon 'bar-chart'}} Feature 1</h2>
      <p>Nulla facilisi. Sed at tortor quis mi suscipit blandit in eu erat.</p>
    </div>
    <div class="cell medium-4">
      <h2>{{fa-icon 'building'}} Feature 2</h2>
      <p>Donec pellentesque dignissim efficitur. Phasellus quis ex sed dolor ornare ornare at bibendum turpis.</p>
    </div>
    <div class="cell medium-4">
      <h2>{{fa-icon 'users'}} Feature 3</h2>
      <p>Sed molestie venenatis libero vel accumsan. Fusce ut commodo nunc, sit amet facilisis justo.</p>
    </div>
  </div>

</div>
