<div class="grid-container">

  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="cell">
      <h1><small>Welcome to NYC Department of&nbsp;City&nbsp;Planning’s</small><br>Community District&nbsp;Profiles!</h1>
      <p class="lead">This is your gateway to data, maps, and other resources describing New York City’s 59 community districts. Choose a Community District profile by clicking on the map, or by searching for a Community District or neighborhood. Each profile page provides District-specific information on the built environment, socio&#8209;economic indicators, ongoing projects and community perspectives. It also includes a wealth of data and resources that can be easily downloaded and exported into different formats for your use.</p>
      {{navigation-dropdown
          model=model
          placeholder='Search for a District, Neighborhood, or Address...'
          selected=mapState.currentlySelected
          onchange=(route-action 'transitionToProfile')}}
    </div>
    <div class="cell medium-4">
      <h2 class="header-large">{{fa-icon 'search'}}&nbsp;&nbsp;Explore</h2>
      <p>Maps, graphs, and tables illustrate each district’s built environment, socio&#8209;economic and demographic characteristics.</p>
    </div>
    <div class="cell medium-4">
      <h2 class="header-large">{{fa-icon 'pie-chart'}}&nbsp;&nbsp;Learn</h2>
      <p>Each community district is unique. Find out what your community boards’ most pressing concerns and budget priorities are, and learn about the projects and neighborhood studies that are ongoing in your District.</p>
    </div>
    <div class="cell medium-4">
      <h2 class="header-large">{{fa-icon 'download'}}&nbsp;&nbsp;Download</h2>
      <p>All of the data and maps in this portal are available to download for your use and analysis.</p>
    </div>
  </div>

</div>
