Search for District ID:

{{#ui-dropdown class="search selection" allowAdditions=true selected=selected_type_addition onChange=(route-action 'transitionToProfile') as |execute mapper|}}
  <div class="default text">Districts</div>
  <i class="dropdown icon"></i>
  <div class="menu">
    <div class="item" data-value="">All Items</div>
    {{#each model.features as |profile|}}
      <div class="item" data-value="{{map-value mapper (hash boroname=(dasherize profile.properties.boroname) borocd=profile.properties.borocd)}}">
        {{profile.properties.boroname}} {{profile.properties.borocd}}
      </div>
    {{/each}}
  </div>
{{/ui-dropdown}}
