<div class="grid-container">

  <div class="grid-x grid-padding-x">
    <div class="cell section-padded">
      <h1>Welcome</h1>
      <p class="lead">This is the welcome message which tells users what the tool is.</p>
    </div>
    <div class="cell medium-4">
      <h2>Feature 1</h2>
    </div>
    <div class="cell medium-4">
      <h2>Feature 2</h2>
    </div>
    <div class="cell medium-4">
      <h2>Feature 3</h2>
    </div>
  </div>

</div>
