<div class="grid-x grid-padding-x">
  <div class="cell text-center" style="padding-top:5vh;padding-bottom:20vh;">
    <h1>Sorry.<br><small>We can't find what you're looking&nbsp;for.</small></h1>
    <p>Please double-check the URL or choose a Community District.</p>
    <p>Still can't find what you're looking for? Please&nbsp;<a href="https://github.com/NYCPlanning/labs-community-portal/issues">file&nbsp;an&nbsp;issue</a>. </p>
  </div>
</div>
